p{
  font-weight: 500;
  font-family: nanumsquare;
}
span{
  font-weight: 500;
  font-family: nanumsquare;
}
td{
  border-top: lightgray;
  font-size: 14px;
}
.page-link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listContent{
  font-size: 13px;
  display: -webkit-box ;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 ;
  overflow: hidden;
  .ql-align-center{
    color: black;
    font-size: 13px;
    display: inline-block;
  }
  p,h1,h2, h3, h4, h5, span, strong{
    color: black;
    font-size: 13px;
    display: inline-block;
  }
  img{
    display: none;
  }
}