.detailContent p{
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 17px;
}
.LectureViewCurriculumTable span{
  font-size: 14px;
}
.LectureViewCurriculumTable i{
  font-size: 14px;
}
.LectureViewCurriculumTable div{
  font-size: 14px;
}