.lectureWrite {
  font-size: 17px;

  span {
  }

  .dataChange {
    margin-top: 10px;
  }
}

/*.filebox {
  display: flex;
  justify-content: left;
  align-items: center;
}*/
.lectureMainWrite{

  .lectureTitle{
    width: 100%;

    input{

      height: 40px;
      padding: 0 10px;
      vertical-align: middle;
      border: 1px solid #dddddd;
      border-radius: 0;
      width: 100%;
      font-size: 15px;
      font-family: nanumsquare;
    }
  }
  .red{
    color: red;
  }
}
.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: calc(100% - 103px);
  color: #999999;
  cursor: pointer;
}
.fileFind{
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
  width: 93px;
}

.plusBox {
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-size: 20px;
  font-family: nanumsquare;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  background-color: deepskyblue;
  color: white;
  td {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    i{
      margin: 0;
    }
  }
}
.ql-video {
  width: 100vw;

  height: 50vw;
}
.ql-container.ql-snow{
  min-height: 600px;
}