*{
  font-weight: 500;
  font-family: nanumsquare;
}

.ql-font-courier-new{
  font-family: "Courier New";
}
.ql-font-lucida{
  font-family: "Lucida Console"
}
.ql-font-comic-sans{
  font-family: "Comic Sans MS"
}
.ql-font-georgia{
  font-family: "Georgia";
}
.ql-font-helvetica{
  font-family: "Helvetica";
}